@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&display=swap');

div.header {
    margin: 0;
    padding: 0;
    
} 

div.header img {
    width: 100%;
    height: 360px;
    opacity: 0.8;
}

div.header .text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%;
    color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

div.header .text h2{
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px 2px black;
}

div.header .text p{
    font-size: 25px;
    font-weight: bold;
} 