div.product-detail{
    display: flex;
    padding: 50px;
    text-align: center;
}

div.product-detail .image img{
    width: 50%;
}
div.product-detail .details{
    text-align: center;
}

div.product-detail .details button{
    display: block;
    margin-bottom: 15px;
    margin-left: 70px;
}
